*{margin: 0; padding: 0;}
a, a:visited, a:hover{text-decoration: none; display: block;}
ul{list-style: none;}
body{font-family: '', 'Noto Sans KR'; height:100dvh;
  /*클릭방지
  -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
}
#wrap{margin: 0 auto; height:100%; padding:50px 0; position: relative; text-align: center; /*min-height: 100dvh;*/}
#wrap::after{content:''; position:fixed; width:100%; height:100%; top: 50%; left: 50%; transform: translate(-50%, -50%); background:url(../img/HC4foLNbgAAorRl.jfif) center center; background-attachment:fixed; background-size:cover; z-index:-3;}
.center{margin:0 auto; display:flex; justify-content: space-around; align-items: center;}

/*work*/
#work{width:450px;}
#work>div{float:left;border-radius: 50px;}
.pic1{background: url(https://pbs.twimg.com/media/HDN2KpRbIAAK4of?format=jpg&name=large); margin-right:30px;}
.pic2{background: url(https://pbs.twimg.com/media/HC3aqc7akAAMujZ?format=jpg&name=4096x4096);}
#work>div:not(.workbox){width:210px; height:320px; text-align: left; background-position: center; background-size: cover;}
#work .workbox{width:450px; height:370px; background:ivory; margin-top:30px; padding:20px 0;box-sizing: border-box;}

#work>div:not(.workbox):hover{position:relative; animation: mannermode .1s infinite;}
@keyframes mannermode{ from{left:-2px} to{left:2px}}

/*달력*/
#C_box{ position:relative;  width:470px; height:725px; padding-top:50px; box-sizing: border-box;}
#C_box::after{content:''; position:absolute; width:100%; height:100%; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(255,255,255,.9); border-radius: 50px; z-index:-1;}
#calendar {width: 430px;margin: 20px;}
.year-month {font-size: 35px;}
.days {display: flex; margin: 25px 0 10px;}
.day {width: calc(100% / 7); text-align: center;}
.dates {display: flex; flex-flow: row wrap; height: 300px;}
.date { width: calc(100% / 7); padding: 10px 0; text-align: center;}
.day:nth-child(7n + 1),.date:nth-child(7n + 1) {color: #D13E3E;}
.day:nth-child(7n),.date:nth-child(7n) {color: #396EE2;}
.other {opacity: 0.3;}
.today {position: relative;color: #FFFFFF;z-index: 2;}
.today::before {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: -1; width: 30px; height: 30px; display: block; background-color: #FF0000; border-radius: 50%; content: '';}
#C_box .notice{background:ivory; border-radius: 50px;padding:20px 10px; margin:0 25px; height:200px;}

/*personal*/
#personal{width:450px;}
#personal>div{float:left;border-radius: 50px;}
#personal .perbox{width:450px; height:370px; background:ivory; margin-bottom:30px; padding:20px 0;box-sizing: border-box;}
#personal>div:not(.perbox){width:210px; height:320px; text-align: left; background-position: center; background-size: cover;}
.per1{background: url(https://pbs.twimg.com/media/HDN2KpRbIAAK4of?format=jpg&name=large); margin-right:30px;}

.per2{background: url(https://pbs.twimg.com/media/HC3aqc7akAAMujZ?format=jpg&name=4096x4096);}

/*👇 반응형작업 👇*/

@media screen and (max-width:1450px){
	#wrap{}
	.center{flex-flow: column; flex-wrap:nowrap; width:100%; max-width:470px;}
	#header{display:none;}
	#work, #C_box{margin-bottom:50px;}
	#C_box::after{width:calc(100% - 20px);}

	#C_box .notice{margin:0 20px;}
	#personal{max-width: 450px; width: 100%;}
	#personal .perbox{width:100%; margin-bottom:20px;}
	

}

@media screen and (max-width:500px){
	#work, #C_box, #calendar, #personal {width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0;}
	#work, #C_box{margin-bottom:50px;}
	#work>div:not(.workbox), #personal>div:not(.perbox){width:49%;}
	.pic1, .per1{margin-right:2%;}
	#work .workbox{width:100%;}
	#C_box{padding:20px 0;}
	#C_box .notice{margin:0 25px;}
	#personal{margin-bottom:50px;}
	

}




















